
@model List<ProductModel>



    <table class="table">
        <thead>
            <tr>
                <td scope="col">Name</td>
            </tr>
        </thead>
        <tbody>
          
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>

                }
               
        </tbody>
    </table>



