
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="btn btn-success" id="get">Get All</div>
<div id="content"></div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(
        $("#get").click(function () {
            $.ajax({
                method: "Get",
                dataType: 'html',
                url: "https://localhost:44373/products/getall",
                success: function (data) {
                    $("#content").html(data);
                }
            });
        }));

        $(document).ready(function () {
            $(document).on("click", "#ProductId", function () {

                var id = $(this).attr('data-id');
              
                $.ajax({
                    method: "GET",
                    url: "https://localhost:44373/products/getbyid",
                    data: new {"id":id},
                        dataType: 'json',
                       success: function (data) {
                           var res = jQuery.parseJSON(data);
                           alert(res);
                       }
                   });
     
            });
        });
    </script>
}


